<form action="." method="POST">
  <input type="hidden" name="formId" value="inputWtml"/>
  <label for="page" >ページ</label><input name="page" value="{{page}}" placeholder="ページ名"/> <br/>
  <textarea id="wtmlinput" cols="99" rows="11" name="wtml"  placeholder="WTML">{{wtml}}</textarea><br/>
  <button id="ALT-KeyS" name="btn" value="{{btn}}" tabindex="0">{{btn_label}}</button>
  &nbsp;&nbsp;
  <input type="button" value="日誌" onclick="insert_journal()"/>
  <input type="button" value="今日リンク" onclick="insert_today()"/>
  <input type="button" value="明日リンク" onclick="insert_tomorrow()"/>
</form>
<button id="ALT-KeyF" onclick="fill_textarea()" tabindex="0">拡大</button>
<script type="text/javascript">

function insert_wtml(text) {
  var wtml = document.querySelector("#wtmlinput");
  if (wtml == null) {
    return;
  }
  const startPos = wtml.selectionStart;
  const before = wtml.value.substring(0, startPos);
  const after  = wtml.value.substring(startPos);
  wtml.value = before + text + after;
  wtml.selectionStart = wtml.selectionEnd = startPos + text.length;
}

function insert_journal() {
  const journal = `
# 計画

# 実績
09:00〜12:00
12:00〜15:00
15:00〜18:00

# まとめ

# 次の日

`;
  insert_wtml(journal);
}

function insert_today() {
  const today = new Date();
  const options = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'short' };
  const formattedDate = today.toLocaleDateString('ja-JP', options);
  console.log(formattedDate); // 例: 2024年10月19日 (土)
  const text = "[" + formattedDate + "]";
  insert_wtml(text);
}

function insert_tomorrow() {
  const today = new Date();
  const tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);
  const options = { year: 'numeric', month: 'long', day: 'numeric', weekday: 'short' };
  const formattedDate = tomorrow.toLocaleDateString('ja-JP', options);
  console.log(formattedDate); // 例: 2024年10月19日 (土)
  const text = "[" + formattedDate + "]";
  insert_wtml(text);
}

function fill_textarea() {
  console.log("fill_textarea");
  var wtml = document.querySelector("#wtmlinput");
  if (wtml == null) {
    return;
  }
  var wh = window.innerHeight;
  var th = wtml.clientHeight;
  console.log(wtml.rows *   wh/th);
  var newRows = Math.floor(wtml.rows * wh / th);
  console.log("newRows:" + newRows);
  wtml.rows = newRows;
  }

</script>
